/* Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Common CSS */

span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

section {
    margin-top: 130px;
}

button,
input[type="submit"] {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #E55473;
    padding: 20px 40px;
    border: 0;
    border-radius: 8px;
}

.inner-section {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Hero Section CSS */

header {
    background: rgba(229, 84, 115, 0.10);
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0 170px;
}

.hero-content h1 {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.hero-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}


/* Features CSS */


.section-content h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tree-type {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.tree-type h4 {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    line-height: 35px;
}

.tree-style {
    padding: 75px 35px 0px 35px;
    border-radius: 50% 50% 0% 0%;
    margin-bottom: 10px;
}

.first-tree img {
    background-color: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 300px;
}

.second-tree img {
    background: rgba(5, 150.70, 160, 0.15);
    width: 300px;
    height: 300px;
}

.third-tree img {
    background: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 300px;
}

/* Benefits section */

.benefits .inner-section {
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.benefit-type {
    padding: 50px 75px;
}

.benefit-type p {
    margin-top: 15px;
}

/* Hot deal */

.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding: 100px 170px;
}

.deal-contents h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-contents p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

/* Instagram section */


.inner-section h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.inner-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.flowers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.flowers img {
    width: 24%;
}

/* Latest Deals */

.latest-deals .inner-section {
    background-image: url('../assets/latest-deals.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.inner-section form {
    margin-top: 40px;
}

.inner-section input[type="email"] {
    background-color: #fff;
    padding: 22px 350px 22px 20px;
    border: 0;
    border-radius: 8px;
    margin-right: 10px;
}

/* Contact Us */

.contact-us .inner-section {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}

.contact-info {
    padding: 50px;
}

.contact-us button {
    margin-right: 50px;
}

/* Footer */

footer {
    background-color: #111010;
    text-align: center;
    padding: 130px 0px;
}

.footer-logo h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
}

.footer-logo p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

.footer-logo .copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}           